.contenedor {
  display: flex;
  flex: 1;
}

.areaPrincipal {
  padding: 20px;
  flex: 1;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
  }
  .areaPrincipal {
    padding: 0px;
  }
}
